<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIENVENIDO A Schedula</title>
</head>

<body>

    <!--Encabezado-->
    <header>
        <div class="contenedor">
            <ul>
                <li style="float: left; font-size: 30px;"><a routerLink="/">Schedula</a></li> <!--Enrutar hacia la página de inicio-->
                <li style="float: right; background-color: #FCBF49; font-size: 25px;"><a routerLink="/login">Iniciar sesión</a></li> <!--Enrutar hacia la página de login-->
                <li style="float: right; background-color: #FCBF49; margin-right: 5px; font-size: 25px;"><a routerLink="/registro">Registrate</a></li> <!--Enrutar hacia la página de registro-->
            </ul>
        </div>
    </header>

    <section>
        <div class="subtitulo1">
            <h2>Reserva online tu próxima cita</h2>
        </div>

        <div class="imagenes">
            <a routerLink="/login">
                <img style="float: left" src="../../../assets/BeautySalon.jpg" alt="Centros de belleza"/>
            </a>
            <a routerLink="/">
                <img style="float: left; margin-left: 50px;" src="../../../assets/Dentist.jpg" alt="Clínicas odontológicas"/>
            </a>
            <a routerLink="/">
                <img style="float: left; margin-left: 50px;" src="../../../assets/Veterinary.jpg" alt="Clínicas veterinarias"/>
            </a>
        </div>

        <div class="titulos">
            <p style="margin-left: 200px;">Centros de belleza, estética y SPA</p>
            <p style="margin-left: 50px;">Clínicas odontológicas</p>
            <p style="margin-left: 50px;">Clínicas veterinarias</p>
        </div>
   
    </section>
   
    <section>
        <div class="subtitulo2">
            <h2>Un servicio perfecto para ti</h2>
        </div>

    </section>

</body>
</html>
